<!DOCTYPE html>
<html>

	{% load static %}

	<head>

		<title>Accounts</title>

		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static "accounts/css/materialize.min.css" %}">

		<script type="text/javascript" src="{% static "accounts/js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "accounts/js/materialize.js" %}"></script>
	</head>



	{% block content %}

	{% endblock %}



</html>